@model FishBusiness.ViewModels.chartAnalysisVm





@{
    ViewData["Title"] = "Index";

    TimeZone localZone = TimeZone.CurrentTimeZone;
    DateTime currentDate = DateTime.Now;
    DateTime currentUTC =
    localZone.ToUniversalTime(currentDate);
    var TimeNow = currentUTC.AddHours(2);
}

<div class="layout-px-spacing">

    <div class="container row">
        <div class="page-header m-3">
            <div class="page-title">
                <h5>العمولات</h5>
            </div>
        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="Office" class="btn btn-primary">المكتب</a>
        </div>
    </div>


    <div class="row layout-top-spacing">


        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-activity-three">

                <div class="widget-heading">
                    <h5 class="">ملاحظات</h5>
                </div>

                <div class="widget-content">

                    <div class="mt-container mx-auto">
                        <div class="timeline-line">
                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>ديون لينا</h5>

                                    </div>
                                    @if (ViewBag.DebtsForUs != null)
                                    {
                                        <p><span>@ViewBag.DebtsForUs</span></p>
                                    }

                                </div>
                            </div>
                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>ديون علينا</h5>

                                    </div>
                                    @if (ViewBag.DebtsForMerchants != null)
                                    {
                                        <p><span>@ViewBag.DebtsForMerchants</span></p>
                                    }

                                </div>
                            </div>
                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>مكاسب اليوم</h5>
                                        <span class="">
                                            @TimeNow.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                            @TimeNow.ToShortDateString()
                                        </span>
                                    </div>
                                    @if (ViewBag.ProfitOfDay != null)
                                    {
                                        <p><span>@ViewBag.ProfitOfDay</span></p>
                                    }
                                    <div class="tags d-flex justify-content-center">
                                        <div class="badge badge-primary"><a asp-action="Summation" asp-controller="TotalOfProfits" asp-route-Date="@TimeNow">تجميع</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>فواتير المراكب</h5>
                                        <span class="">
                                            @TimeNow.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                            @TimeNow.ToShortDateString()
                                        </span>
                                    </div>
                                    <p><span>@ViewBag.TodaysBoatReceipts</span></p>
                                    <div class="tags d-flex justify-content-center">
                                        <div class="badge badge-primary"><a asp-action="GetTodaysBoatReceipts" asp-controller="Home">عرض الفواتير</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>الفواتير الخارجية</h5>
                                        <span class="">
                                            @TimeNow.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                            @TimeNow.ToShortDateString()
                                        </span>
                                    </div>
                                    <p><span>@ViewBag.TodaysExternalBoatReceipts</span></p>
                                    <div class="tags d-flex justify-content-center">
                                        <div class="badge badge-primary"><a asp-action="GetTodaysExternalBoatReceipts" asp-controller="Home">عرض الفواتير</a></div>
                                    </div>
                                </div>
                            </div>


                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>فواتير التجار </h5>
                                        <span class="">
                                            @TimeNow.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                            @TimeNow.ToShortDateString()
                                        </span>
                                    </div>
                                    <p><span>@ViewBag.TodaysMerchantReceipts</span></p>
                                    <div class="tags d-flex justify-content-center">
                                        <div class="badge badge-primary"><a asp-action="GetTodaysMerchantReceipts" asp-controller="Home">عرض الفواتير</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>محتوي المخزن</h5>
                                        <span class="">
                                            @TimeNow.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                            @TimeNow.ToShortDateString()
                                        </span>
                                    </div>
                                    <p><span>@ViewBag.Stock</span></p>
                                    <div class="tags d-flex justify-content-center">
                                        <div class="badge badge-primary"><a asp-action="Index" asp-controller="Stocks"> المخزن</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>دفتر المكاسب</h5>
                                        <span class="">
                                            @TimeNow.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                            @TimeNow.ToShortDateString()
                                        </span>
                                    </div>
                                    <div class="tags d-flex justify-content-center">
                                        <div class="badge badge-primary"><a asp-action="SummationOfAday" asp-controller="TotalOfProfits">عرض</a></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 ">
            @*style="height: 425px;"*@
            <div id="piechart" style="height: 425px;">

            </div>
        </div>

    </div>
    <div class="row  layout-top-spacing">

        <!--<div class="row">-->

            @*<h5 class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">مدفوعات تجار الخارج</h5>
                <h5 class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">مدفوعات تجار البلد</h5>*@
        <!--</div>-->
       

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">
                <h5>مدفوعات تجار الخارج</h5>
                <div id="ExternalRecs">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">
                <h5>مدفوعات تجار البلد</h5>
                <div id="InternalRecs">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">
                <h5>الارباح</h5>
                <div id="profit">
                </div>
            </div>
      
    </div>

</div>








@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'], 'language': 'en' });


        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['day', 'commision'],
                @foreach (var item in Model.CommissionsVM)
                {
              @*<Text>  [ '@item.Day.ToShortDateString()', @item.Value],</Text>*@
                      <Text>   ['@item.Day.Day/@item.Day.Month/@item.Day.Year' ,parseFloat(@item.Value)],</Text>
                }

            ]);

            var options = {
                title: 'Commission',
               // height: 425,
                hAxis: {
                    format: 'd/M/yy',

                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
           //***********************************************






        google.setOnLoadCallback(drawChartForProfit);
        function drawChartForProfit() {


            var data = google.visualization.arrayToDataTable([

             ['day', 'profit'],
                   @foreach (var item in Model.chatProfit)
                    {

                       <Text>  [new Date(@item.Day.Year,@item.Day.AddMonths(-1).Month,@item.Day.Day),parseFloat(@item.profit)],</Text>
                       @*<Text>   ['@item.Day.Day/@item.Day.Month/@item.Day.Year' ,parseFloat(@item.profit)],</Text>*@

                    }

            ]);

            var options = {
                title: 'profit',
               // height: 300,
                hAxis: {
                    format: 'd/M/yy',

                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('profit'));

            chart.draw(data, options);
        }


        google.charts.setOnLoadCallback(drawChartForInternalRecs);
        function drawChartForInternalRecs() {

            var data = google.visualization.arrayToDataTable([
                ['day', 'collecting'],
                //[{ type: 'date', label: 'Season Start Date' }, { type: 'number', label: 'value' }],
                @foreach (var item in Model.chartCollectionVm)
                {
              @*<Text>  [@item.Day.Day, parseFloat(@item.Value)],</Text>*@
              <Text>   [new Date(@item.Day.Year, @item.Day.AddMonths(-1).Month, @item.Day.Day), parseFloat(@item.Collecting)],</Text>

                }

            ]);

            var options = {
                title: 'internal collecting',
               // height: 300,

                curveType: 'function',
                hAxis: {
                    format: 'd/M/yy',

                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('InternalRecs'));

            chart.draw(data, options);
        }




        google.charts.setOnLoadCallback(drawChartForExternalRecs);
        function drawChartForExternalRecs() {

            var data = google.visualization.arrayToDataTable([
                ['day', 'external collecting'],
                //[{ type: 'date', label: 'Season Start Date' }, { type: 'number', label: 'value' }],
                @foreach (var item in Model.chartExternalCollectionVm)
                {
              @*<Text>  [@item.Day.Day, parseFloat(@item.Value)],</Text>*@
              <Text>   [new Date(@item.Day.Year, @item.Day.AddMonths(-1).Month, @item.Day.Day),parseFloat(@item.ExternalCollecting)],</Text>

                }

            ]);

            var options = {
                title: 'external collecting',
               // height: 300,

                curveType: 'function',
                hAxis: {
                    format: 'd/M/yy',

                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('ExternalRecs'));

            chart.draw(data, options);
        }






    </script>


}
