
@{
    ViewData["Title"] = "Index";
}

    <div class="layout-px-spacing">

        <div class="page-header m-3">
            <div class="page-title">
                <h3>الرئيسية </h3>
            </div>
        </div>

        <div class="row layout-top-spacing">





            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">فواتير المراكب </h6>
                                <p class="meta-date" style="margin-top:5px">
                                    @DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                    , @DateTime.Now.ToShortDateString()
                                </p>
                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">
                                <p class="task-left">@ViewBag.TodaysBoatReceipts</p>
                                <p class="task-completed"><span><a asp-action="GetTodaysBoatReceipts" asp-controller="Home" class="btn btn-warning">عرض الفواتير</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">الفواتير الخارجية للمراكب  </h6>
                                <p class="meta-date" style="margin-top:5px">
                                    @DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                    , @DateTime.Now.ToShortDateString()
                                </p>
                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">
                                <p class="task-left">@ViewBag.TodaysExternalBoatReceipts</p>
                                <p class="task-completed"><span><a asp-action="GetTodaysExternalBoatReceipts" asp-controller="Home" class="btn btn-warning">عرض الفواتير</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">فواتير التجار </h6>
                                <p class="meta-date mt-10" style="margin-top:5px">
                                    @DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                                    , @DateTime.Now.ToShortDateString()
                                </p>
                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">
                                <p class="task-left">@ViewBag.TodaysMerchantReceipts</p>
                                <p class="task-completed"><span><a asp-action="GetTodaysMerchantReceipts" asp-controller="Home" class="btn btn-warning">عرض الفواتير</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
