@model List<FishBusiness.Models.StockHistory>

<table class="table table-striped">
    <thead>
        <tr>
            <td>اسم التاجر</td>
            <td>الانتاج</td>
            <td>الكميه</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Fish.FishName</td>
                    <td>@item.ProductionType.ProductionName</td>
                    <td>@item.Total</td>
                    <td>
                        <a class="btn btn-info" href="#" onclick="GetHistoryDetails('@item.FishID','@item.ProductionTypeID','@item.Date.ToShortDateString()')">تفاصيل</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
                <td>لا توجد بيانات</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>