@model FishBusiness.ViewModels.SarhaViewModel

@{
    ViewData["Title"] = "Edit";
}
@section Styles{
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-step/jquery.steps.css">

    <style>
        #formValidate .wizard > .content {
            min-height: 25em;
        }

        #example-vertical.wizard > .content {
            min-height: 24.5em;
        }
    </style>
}

<div class="container">
    <div class="container">

        <div class="page-header">
            <div class="page-title">
                <h3>تعديل او اضافة بيانات هالك</h3>
            </div>
        </div>

        <div class="row layout-top-spacing" id="cancel-row">


            <div class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4> بيانات هالك</h4>
                            </div>
                        </div>
                    </div>
                    <form>
                        <input type="hidden" asp-for="Sarha.SarhaID" />
                        <div class="widget-content widget-content-area">
                            <div id="circle-basic" class="">
                                <h3>بيانات</h3>

                                <section>
                                    <div class="form-group">
                                        <label asp-for="Sarha.Boat.BoatName"></label>
                                        <select class="form-control" asp-for="Sarha.BoatID" id="BoatDDL" asp-items="ViewBag.Boats as SelectList">
                                            <option>اختر اسم المركب</option>
                                        </select>
                                        <span asp-validation-for="Sarha.Boat.BoatName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Sarha.NumberOfFishermen"></label>
                                        <input asp-for="Sarha.NumberOfFishermen" type="text" class="form-control" id="NoFisherMen">
                                        <span asp-validation-for="Sarha.NumberOfFishermen" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Sarha.NumberOfBoxes"></label>
                                        <input asp-for="Sarha.NumberOfBoxes" type="text" class="form-control" id="NoBoxes">
                                        <span asp-validation-for="Sarha.NumberOfBoxes" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Sarha.DateOfSarha"></label>
                                        <input asp-for="Sarha.DateOfSarha" class="form-control" id="DateOfSarha">
                                        <span asp-validation-for="Sarha.DateOfSarha" class="text-danger"></span>

                                    </div>
                                </section>
                                <h3>بيانات الهالك</h3>
                                <section>
                                    @foreach (var item in Model.Debts_Sarhas)
                                    {
                                        <label> @Html.DisplayFor(modelItem => item.Debt.DebtName)</label>
                                        @*<input asp-for="@item.Price" class="form-control Halekprice" id="exampleFormControlInput1">*@

                                        <div class="row">
                                            <div class="col-12">
                                                <input asp-for="@item.Price" class="form-control Halekprice" id="exampleFormControlInput1">
                                            </div>
                                            @*<div class="col-6">
                                                <select class="form-control" name="PersonID" asp-items="ViewBag.People as SelectList" disabled>
                                                    <option value="@item.Person.PersonID">@item.Person.Name</option>
                                                </select>
                                            </div>*@
                                        </div>
                                    }
                                    @foreach (var item in Model.OtherDebts)
                                    {

                                        <label> @Html.DisplayFor(modelItem => item.DebtName)</label>
                                      

                                        <div class="row">

                                            <div class="col-12">
                                                <input type="text" class="form-control NHalekprice" id="exampleFormControlInput1">
                                            </div>
                                        </div>
                                    }
                                </section>
                                <h3>انهاء</h3>
                                <section>
                                    <div class="row mt-5">
                                        <div class="col-sm-4">

                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" id="clickable" class="btn btn-primary mb-4 mr-2 btn-lg">اضغط لحفظ بيانات السرحة </button>
                                        </div>
                                        <div class="col-sm-4">

                                        </div>

                                    </div>

                                </section>
                            </div>

                            <div class="code-section-container">

                                <div class="code-section text-left">
                                    <pre>
$("selector").steps({
    cssClass: 'circle wizard'
});
</pre>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>



        </div>
        <input type="hidden" value="@Model.Sarha.SarhaID"  id="sarhaID"/>
    </div>
</div>


@section scripts{
    <script src="~/plugins/highlight/highlight.pack.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/scrollspyNav.js"></script>
    <script src="~/plugins/jquery-step/jquery.steps.min.js"></script>
    <script src="~/plugins/jquery-step/custom-jquery.steps.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <script>
        var cookieList = function (cookieName) {
            //When the cookie is saved the items will be a comma seperated string
            //So we will split the cookie by comma to get the original array
            var cookie = $.cookie(cookieName);
            //Load the items or a new array if null.
            var items = cookie ? cookie.split(/,/) : new Array();

            //Return a object that we can use to access the array.
            //while hiding direct access to the declared items array
            //this is called closures see http://www.jibbering.com/faq/faq_notes/closures.html
            return {
                "add": function (val) {
                    //Add to the items.
                    items.push(val);
                    var date = new Date();
                    date.setTime(date.getTime() + (15 * 1000));
                    //Save the items to a cookie.
                    //EDIT: Modified from linked answer by Nick see
                    //      http://stackoverflow.com/questions/3387251/how-to-store-array-in-jquery-cookie
                    $.cookie(cookieName, items.join(','), { expires: date });
                },
                "remove": function (val) {
                    //EDIT: Thx to Assef and luke for remove.
                    indx = items.indexOf(val);
                    if (indx != -1) items.splice(indx, 1);
                    $.cookie(cookieName, items.join(','));
                },
                "clear": function () {
                    items = null;
                    //clear the cookie.
                    $.cookie(cookieName, null);
                },
                "items": function () {
                    //Get all the items.
                    return items;
                }
            }
        }
      
        //$("#clickable").click(function () {
        //    document.cookie = 'MyItems' + '=; expires=Thu, 01-Jan-70 00:00:01 GMT;';
        //    //cookieList("MyItems").clear()
        //    var list = new cookieList("MyItems"); // all items in the array.
        //    $('.Halekprice').each(function () {
        //        list.add($(this).val());
        //    })
        //});
        $(document).ready(function () {

            $("#clickable").on('click', function () {
                 
                       var list = "" 
                       $('.Halekprice').each(function () {
                           list += $(this).val();
                           list += ',';
                          
                       })


                    
                       var Nlist = "";
                       $('.NHalekprice').each(function () {
                           if ($(this).val() != '') {
                            
                               Nlist += $(this).val()
                               Nlist += ',';
                             
                           } else {
                               Nlist += '0'
                               Nlist += ',';
                           }
                       })

                      
                      
                       var BoatID = parseInt($("#BoatDDL").val())
                       var NoFisherMen = parseInt($("#NoFisherMen").val())
                       var NoBoxes = parseInt($("#NoBoxes").val())
                       var DateOfSarha = $("#DateOfSarha").val()
                       var id = $("#sarhaID").val()
                            
                       $.ajax({
                              url: "/Sarhas/Editing",
                              type: "POST",
                        
                              dataType: "json",
                              data: {
                                  BoatID: BoatID,
                                  NoFisherMen: NoFisherMen,
                                  NoBoxes: NoBoxes,
                                  DateOfSarha: DateOfSarha,
                                  id: id,
                                  OldHalekPrices: list,
                                  NHalekPrices: Nlist,
                              },
                              success: function (result) {
                                  if (result.message == "success") {
                                      window.location.href = "/Boats/Profile/" + result.id;
                                  }
                              }
                           
                        })

             
                   
            })
                  
        })
    </script>

}