@model FishBusiness.Models.BoatOwnerReciept

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoatOwnerReciept</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boat.BoatLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sarha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sarha.SarhaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBeforePaying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBeforePaying)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidFromDebts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidFromDebts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAfterPaying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAfterPaying)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BoatOwnerRecieptID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
