@*@model FishBusiness.Models.Merchant*@
@model FishBusiness.ViewModels.MerchantDetailsVm
@{
    ViewData["Title"] = "Details";
}
@section Styles{
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <!--  END CUSTOM STYLE FILE  -->


    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">

    <link href="~/assets/css/users/user-profile.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/apps/scrumboard.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
}


<!--  BEGIN MAIN CONTAINER  -->
<!--  BEGIN CONTENT AREA  -->

<div class="layout-px-spacing">

    <div class="page-header">
        <div class="page-title">
            <h3>بروفايل</h3>
        </div>
    </div>

    <div class="row layout-spacing">

        <!-- Content -->
        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

            <div class="user-profile layout-spacing">
                <div class="widget-content widget-content-area">
                    <div class="d-flex justify-content-between">
                        <h3 class="">بيانات</h3>
                        <a href="#" onclick="EditShow(@Model.Merchant.MerchantID)" class="mt-2 edit-profile"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                    </div>
                    <div class="text-center user-info">
                        <img src="~/assets/img/profile-3.jpg" alt="avatar">
                        <p class="">@Model.Merchant.MerchantName</p>
                    </div>
                    <div class="user-info-list">

                        <div class="">
                            <ul class="contacts-block list-unstyled">
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg> @Model.Merchant.MerchantName
                                </li>

                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>@Model.Merchant.Address
                                </li>

                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg> @Model.Merchant.Phone
                                </li>

                                <li>
                                    <span style="font-size:x-large;margin-left:10px;">$ </span> <label id="DebtsOnMerchant"> @Model.Merchant.PreviousDebts</label> عليه
                                </li>

                                <li>
                                    <span style="font-size:x-large;margin-left:10px;">$ </span> <label id="DebtsForMerchant"> @Model.Merchant.PreviousDebtsForMerchant</label>  له
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>





        </div>

        @if (Model.Merchant.IsFromOutsideCity == true)
        {
            <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

                <div class="skills layout-spacing">
                    <div class="widget-content widget-content-area">
                        <div class="container row">
                            <h3 class="">فواتير سافرت للتاجر</h3>
                            <div class="ml-auto" style="">
                                <a asp-action="Create" asp-controller="ISellerReciepts" class="btn btn-primary">اضافة فاتورة جديده</a>
                            </div>
                        </div>

                        <div class="row layout-top-spacing" id="cancel-row">

                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                <div class="widget-content widget-content-area br-6">
                                    <div class="table-responsive mb-4 mt-4">
                                        <table id="zero-config" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>مسلسل</th>
                                                    <th>تاريخ </th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ISellerReciepts.Any())
                                                {
                                                    @foreach (var merchantRec in Model.ISellerReciepts)
                                                    {
                                                        <tr>
                                                            <td>@merchantRec.ISellerRecieptID</td>
                                                            <td>@merchantRec.Date</td>

                                                            <td>
                                                                <a asp-action="Details" asp-controller="ISellerReciepts" class="btn btn-primary mb-2" asp-route-id="@merchantRec.ISellerRecieptID"> تفاصيل</a>
                                                                <a asp-action="Moneytization" asp-controller="ISellerReciepts" class="btn btn-primary mb-2" asp-route-id="@merchantRec.ISellerRecieptID"> تسعير</a>

                                                            </td>

                                                        </tr>
                                                    }

                                                }
                                                else
                                                {
                                                    <tr>

                                                        <td class="font-weight-bolder">لا توجد معاملات</td>


                                                    </tr>
                                                }


                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        }
        else
        {

            <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

                <div class="skills layout-spacing">
                    <div class="widget-content widget-content-area">
                        <div class="container row">
                            <h3 class="">فواتير اشتراها التاجر</h3>
                            <div class="ml-auto" style="">
                                <a asp-action="Create" asp-controller="MerchantReciepts" class="btn btn-primary">اضافة فاتورة جديده</a>
                            </div>
                        </div>

                        <div class="row layout-top-spacing" id="cancel-row">

                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                <div class="widget-content widget-content-area br-6">
                                    <div class="table-responsive mb-4 mt-4">
                                        <table id="zero-config" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>مسلسل</th>
                                                    <th>تاريخ </th>
                                                    <th>ثمن</th>
                                                    <th>تسديد حساب قديم</th>
                                                    <th>ديون حتى اللحظه</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.MerchantReciepts.Any())
                                                {
                                                    @foreach (var merchantRec in Model.MerchantReciepts)
                                                    {
                                                        <tr>
                                                            <td>@merchantRec.MerchantRecieptID</td>
                                                            <td>@merchantRec.Date</td>
                                                            <td>@merchantRec.TotalOfReciept</td>
                                                            <td>@merchantRec.payment</td>
                                                            <td>@merchantRec.CurrentDebt</td>
                                                            <td>
                                                                <a asp-action="Details" asp-controller="MerchantReciepts" class="btn btn-primary mb-2" asp-route-id="@merchantRec.MerchantRecieptID"> تفاصيل</a>
                                                                @*<a asp-action="Details" asp-route-id="@merchant.MerchantID" class="btn btn-info mb-2">تفاصيل</a>*@
                                                            </td>

                                                        </tr>
                                                    }

                                                }
                                                else
                                                {
                                                    <tr>

                                                        <td class="font-weight-bolder">لا توجد معاملات</td>


                                                    </tr>
                                                }


                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        }




    </div>

    @if (Model.Merchant.IsFromOutsideCity == true)
    {
        <div class="row layout-spacing">
            <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 layout-top-spacing">

                <div class="skills layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <div class="container row">
                            <h3 class="">فواتير تم تسعيرها</h3>

                        </div>

                        <div class="row layout-top-spacing" id="cancel-row">

                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                <div class="widget-content widget-content-area br-6">
                                    <div class="table-responsive mb-4 mt-4">
                                        <table id="zero-configg" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>مسلسل</th>
                                                    <th>تاريخ </th>
                                                    <th>ثمن</th>

                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ISellerRecieptsMoneytized.Any())
                                                {
                                                    @foreach (var merchantRec in Model.ISellerRecieptsMoneytized)
                                                    {
                                                        <tr>
                                                            <td>@merchantRec.ISellerRecieptID</td>
                                                            <td>@merchantRec.Date</td>
                                                            <td>@merchantRec.TotalOfPrices</td>


                                                            <td>
                                                                <a asp-action="Details" asp-controller="ISellerReciepts" class="btn btn-info mb-2" asp-route-id="@merchantRec.ISellerRecieptID"> تفاصيل</a>
                                                                @*<a asp-action="Details" asp-route-id="@merchant.MerchantID" class="btn btn-info mb-2">تفاصيل</a>*@
                                                            </td>

                                                        </tr>
                                                    }

                                                }
                                                else
                                                {
                                                    <tr>

                                                        <td class="font-weight-bolder">لا توجد معاملات</td>


                                                    </tr>
                                                }


                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>



        </div>
    }

    <div class="row layout-spacing">
        <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 layout-top-spacing">
            <div class="skills layout-spacing ">
                <div class="widget-content widget-content-area">
                    <div class="container row">
                        <h3 class="">فواتير تم شرائها من التاجر</h3>
                        <div class="ml-auto" style="">
                            <a asp-action="Create" asp-controller="IMerchantReciepts" class="btn btn-primary">اضافة فاتورة جديده</a>
                        </div>
                    </div>
                    <div class="row layout-top-spacing" id="cancel-row">

                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                            <div class="widget-content widget-content-area br-6">
                                <div class="table-responsive mb-4 mt-4">
                                    <table id="zero-configf" class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>مسلسل</th>
                                                <th>تاريخ </th>
                                                <th>ثمن</th>

                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.IMerchantReciepts.Any())
                                            {
                                                @foreach (var merchantRec in Model.IMerchantReciepts)
                                                {
                                                    <tr>
                                                        <td>@merchantRec.IMerchantRecieptID</td>
                                                        <td>@merchantRec.Date</td>
                                                        <td>@merchantRec.TotalOfReciept</td>


                                                        <td>
                                                            <a asp-action="Details" asp-controller="IMerchantReciepts" class="btn btn-info mb-2" asp-route-id="@merchantRec.IMerchantRecieptID"> تفاصيل</a>
                                                            @*<a asp-action="Details" asp-route-id="@merchant.MerchantID" class="btn btn-info mb-2">تفاصيل</a>*@
                                                        </td>

                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr>

                                                    <td class="font-weight-bolder">لا توجد معاملات</td>


                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>

    

    <div class="row layout-spacing">
        <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 layout-top-spacing">

            <div class="skills layout-spacing ">
                <div class="widget-content widget-content-area">
                    <div class="container row">
                        <h3 class="">مدفوعات تم دفعها للتاجر</h3>

                    </div>

                    <div class="row layout-top-spacing" id="cancel-row">

                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                            <div class="widget-content widget-content-area br-6">
                                <div class="table-responsive mb-4 mt-4">
                                    <table id="zero-config4" class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th>تاريخ </th>
                                                <th>المبلغ</th>
                                                <th>اسم الشخص</th>
                                                <th>نوع الدفع</th>
                                                <th>ديون له</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PaidForMerchantsFromUs.Any())
                                            {
                                                @foreach (var merchantRec in Model.PaidForMerchantsFromUs)
                                                {
                                                    <tr>

                                                        <td>@merchantRec.Date</td>
                                                        <td>@merchantRec.Payment</td>
                                                        <td>@merchantRec.Person.Name</td>
                                                        @if (@merchantRec.IsCash == true)
                                                        {
                                                            <td>نقدى</td>
                                                        }
                                                        else
                                                        {
                                                            <td>سمك</td>
                                                        }

                                                        <td>@merchantRec.PreviousDebtsForMerchant</td>



                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr>

                                                    <td class="font-weight-bolder">لا توجد معاملات</td>


                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>



    </div>

    <div class="row layout-spacing">
        <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 layout-top-spacing">

            <div class="skills layout-spacing">
                <div class="widget-content widget-content-area">
                    <div class="container row">
                        <h3 class="">مدفوعات دفعها التاجر</h3>

                    </div>

                    <div class="row layout-top-spacing" id="cancel-row">

                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                            <div class="widget-content widget-content-area br-6">
                                <div class="table-responsive mb-4 mt-4">
                                    <table id="zero-config5" class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th>تاريخ </th>
                                                <th>المبلغ</th>
                                                <th>نوع الدفع</th>
                                                <th>ديون عليه</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PaidForUs.Any())
                                            {
                                                @foreach (var merchantRec in Model.PaidForUs)
                                                {
                                                    <tr>

                                                        <td>@merchantRec.Date</td>
                                                        <td>@merchantRec.Payment</td>
                                                        @if (@merchantRec.IsCash == true)
                                                        {
                                                            <td>نقدى</td>
                                                        }
                                                        else
                                                        {
                                                            <td>سمك</td>
                                                        }

                                                        <td>@merchantRec.PreviousDebtsForMerchant</td>



                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr>

                                                    <td class="font-weight-bolder">لا توجد معاملات</td>


                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>



    </div>

    <div class="row layout-spacing">

        <div class="education layout-spacing col-6">
            <div class="widget-content widget-content-area">
                <h3 class="">دفع حساب قديم على التاجر</h3>
                <div class="timeline-alter">
                    <div class="connect-sorting">


                        <div class="connect-sorting-content" data-sortable="true">


                            <div data-draggable="true" class="card simple-title-task" style="">
                                <div class="card-body">

                                    <div class="task-header">
                                        <div class="form-group">
                                            <label class="control-label"> المبلغ المدفوع</label>
                                            <div class="row">


                                                <input type="text" id="PaidValueForUs" class="form-control col-8" />
                                                <div class="n-chk col-4">
                                                    <label class="new-control new-checkbox checkbox-primary">
                                                        <input type="checkbox" id="IsCash2" class="new-control-input">
                                                        <span class="new-control-indicator"></span>سمك مقابل سمك
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="add-s-task">

                            <a class="addTask" id="Sub">خصم</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="education layout-spacing col-6">
            <div class="widget-content widget-content-area">
                <h3 class="">دفع حساب قديم علينا</h3>
                <div class="timeline-alter">
                    <div class="connect-sorting">


                        <div class="connect-sorting-content" data-sortable="true">


                            <div data-draggable="true" class="card simple-title-task" style="">
                                <div class="card-body">

                                    <div class="task-header">
                                        <div class="form-group">
                                            <label class="control-label"> المبلغ المدفوع</label>
                                            <div class="row">


                                                <input type="text" id="PaidValueForMerchant" class="form-control col-8" />
                                                <div class="n-chk col-4">
                                                    <label class="new-control new-checkbox checkbox-primary">
                                                        <input type="checkbox" id="IsCash" class="new-control-input">
                                                        <span class="new-control-indicator"></span>سمك مقابل سمك
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="add-s-task">

                            <a class="addTask" id="SubFromUs">خصم</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





</div>
<!--  END CONTENT AREA  -->
<!-- END MAIN CONTAINER -->




<div id="fadeleftModal" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">اضافة عميل</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>


            <div class="modal-body" id="ModalBodyDiv">

            </div>

        </div>
    </div>
</div>
@section scripts{

    <script>
        $('#zero-configf').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        });
        $('#zero-configd').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#SubFromUs").on('click', function () {
                var PaidValue = parseFloat($('#PaidValueForMerchant').val());
                var id = @Model.Merchant.MerchantID;
                var IsCash = $('#IsCash').is(":checked");

                $.ajax({
                    url: "/Merchants/CalcDebts/",
                    type: "Post",
                    dataType: "json",
                    traditional: true,
                    data: {
                        PaidValue: PaidValue,
                        MerchantID: id,
                        IsCash: IsCash
                    }, //id of the state which is used to extract cities
                    success: function (result) {
                        if (result.message == "success") {

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'تم الخصم بنجاح',
                                showConfirmButton: false,
                                timer: 3000
                            });
                            $('#PaidValueForMerchant').val('')
                            $('#DebtsForMerchant').text(result.debtsForMerchant)
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حاول مرة اخري',
                        });
                    }
                });
            })


             $("#Sub").on('click', function () {
                var PaidValue = parseFloat($('#PaidValueForUs').val());
                var id = @Model.Merchant.MerchantID;
                var IsCash = $('#IsCash2').is(":checked");

                $.ajax({
                    url: "/Merchants/CalcDebtForUs/",
                    type: "Post",
                    dataType: "json",
                    traditional: true,
                    data: {
                        PaidValue: PaidValue,
                        MerchantID: id,
                        IsCash: IsCash
                    }, //id of the state which is used to extract cities
                    success: function (result) {
                        if (result.message == "success") {

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'تم الخصم بنجاح',
                                showConfirmButton: false,
                                timer: 3000
                            });
                            $('#PaidValueForUs').val('')
                            $('#DebtsOnMerchant').text(result.debtsOnMerchant)
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حاول مرة اخري',
                        });
                    }
                });
            })
        })

        var EditShow = function (id) {
            $.ajax({
                url: "/Merchants/Edit",
                type: "GET",
                data: { id: id },
                success: function (response) {
                    $("#fadeleftModal").modal("show");
                    $("#ModalBodyDiv").html(response);

                }

            })
        }

        var fun = function () {

            var myform = $("#MyForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Merchants/cEdit",
                type: "POST",
                data: myform,

                success: function (response) {
                    if (response.message == "success") {
                        $("#fadeleftModal").modal("hide");
                        location.reload();
                    }
                    else {
                        alert("Error")
                    }

                }


            });
        }

    </script>


}
