
@model IEnumerable<FishBusiness.Models.Boat>
@{
    ViewData["Title"] = "InActiveBoats";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">

}
<div class="layout-px-spacing">
    <div class="container row">
        <div class="page-header m-3">
            <div class="page-title">
                <h3>المراكب المؤرشفة</h3>
            </div>
        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="Create" class="btn btn-primary">اضافة مركب جديد</a>
        </div>
    </div>

    <div class="row layout-top-spacing" id="cancel-row">

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="zero-config" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>رقم المركب</th>
                                <th>اسم المركب</th>
                                <th>ريس المركب</th>
                                <th>نوع المركب</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                @foreach (var boat in Model)
                                {
                                    <tr>
                                        <td>@boat.BoatNumber</td>
                                        <td>@boat.BoatName</td>
                                        <td>@boat.BoatLeader</td>
                                        <td>@boat.BoatType.TypeName</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@boat.BoatID" class="btn btn-success mb-2">تعديل</a>
                                            <a href="#" onclick="Details(@boat.BoatID)" class="btn btn-info mb-2">تفاصيل</a>
                                            <a asp-action="Profile" asp-route-id="@boat.BoatID" class="btn btn-info mb-2">بروفايل</a>
                                            <a asp-action="Restore" asp-route-id="@boat.BoatID" class="btn btn-warning mb-2">استعاده</a>
                                        </td>

                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>

                                    <td class="font-weight-bolder">لا توجد مراكب</td>

                                    @*<td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle table-cancel"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></td>*@
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    ddddddddddddddddd
                </div>*@
            <div class="modal-body" id="ModalBodyDiv2">

                <hr>
                <center>

                </center>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>

            </div>
        </div>
    </div>
</div>







@section scripts{

    <script>
        $(document).ready(function () {

        })
        var Details = function (id) {
            var url = "/Boats/Details?id=" + id;
            $("#ModalBodyDiv2").load(url, function () {
                $("#myModal").modal("show");
            })


        }
    </script>

}



