@model FishBusiness.ViewModels.ProfileVM
@section Styles{
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="~/plugins/dropify/dropify.min.css">
    <link href="~/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">

    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />

    <link href="~/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
}
<!--  BEGIN CONTENT AREA  -->

<div class="layout-px-spacing">
    <div class="container row">
        <div class="page-header m-3">
            <div class="page-title">
                <h3>@Model.BoatInfo.BoatName </h3>
            </div>
        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="Edit" asp-controller="Boats" asp-route-id="@Model.BoatInfo.BoatID" class="btn btn-primary">تعديل بيانات المركب</a>
            @if (Model.BoatInfo.TypeID == 5 && ViewBag.IsCheckedOut == false)
            {
                <a asp-action="CheckOut" asp-route-id="@Model.BoatInfo.BoatID" class="btn btn-primary">تصفية</a>
            }
            <a class="btn btn-primary" data-toggle="modal" data-target="#MfadeleftModal5">اعطاء مصروف</a>
            <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#zoomupModal">عرض صورة المركب</button>

        </div>
    </div>

    <div class="account-settings-container layout-top-spacing">
        <div class="row layout-top-spacing">

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">نوع المركب</h6>

                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">

                                @*<p class="task-left"></p>*@
                                <label style="font-size:larger;font-weight:bolder;color:black">@Model.BoatInfo.Type</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @if (Model.BoatInfo.TypeID == 2)//مركب شؤيك
            {
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                    <div class="widget widget-five">
                        <div class="widget-content">

                            <div class="header">
                                <div class="header-body">
                                    <h6 class="text-info">ايراد المركب</h6>
                                </div>

                            </div>

                            <div class="w-content">
                                <div class="">

                                    @*<p class="task-left"></p>*@
                                    <label style="font-size:larger;font-weight:bolder;color:black" id="income">@Model.BoatInfo.IncomeOfSharedBoat $</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">ريس المركب</h6>

                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">

                                <label style="font-size:larger;font-weight:bolder;color:black">@Model.BoatInfo.BoatLeader</label><br />
                                ديونه : <label id="PaymentLeaderDebtsLabel" style="font-size:larger;font-weight:bolder;color:black">@Model.BoatInfo.DebtsOfLeader</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">رخصة المركب</h6>

                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">

                                @*<p class="task-left"></p>*@
                                <label style="font-size:larger;font-weight:bolder;color:black">@Model.BoatInfo.BoatLicenseNumber</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">ديون الهالك</h6>

                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">


                                <label style="font-size:larger;font-weight:bolder;color:black" id="BoatDebts">@Model.BoatInfo.DebtsOfHalek $</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">اجمالي المصروف</h6>

                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">


                                <label style="font-size:larger;font-weight:bolder;color:black" id="Expensese">@Model.BoatInfo.TotalOfExpenses $</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-five">
                    <div class="widget-content">

                        <div class="header">
                            <div class="header-body">
                                <h6 class="text-info">دين الشغل</h6>

                            </div>

                        </div>

                        <div class="w-content">
                            <div class="">


                                <label style="font-size:larger;font-weight:bolder;color:black" id="">@Model.BoatInfo.DebtsOfStartingWork $</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="account-content">
            <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">

                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    <form id="about" class="section about">
                        <div class="info">
                            <h5 class="">فواتير لم يتم المحاسبة عليها</h5>

                            <div class="row layout-top-spacing" id="cancel-row">

                                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                    <div class="widget-content widget-content-area br-6">
                                        <div class="table-responsive mb-4 mt-4">
                                            <table id="zero-config4" class="table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>اجمالى الفاتوره</th>
                                                        <th>العموله</th>
                                                        <th>التاريخ</th>
                                                        <th>المدفوع من الهالك</th>
                                                        <th>الاجمالى بعد العموله والهالك</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.NotCalculatedRec.Any())
                                                    {
                                                        foreach (var rec in Model.NotCalculatedRec)
                                                        {
                                                            <tr>
                                                                <td>@rec.TotalBeforePaying</td>
                                                                <td>@rec.Commission</td>
                                                                <td>@rec.Date</td>
                                                                <td>@rec.PaidFromDebts</td>
                                                                <td>@rec.TotalAfterPaying</td>
                                                                <td>
                                                                    <a asp-action="Details" asp-controller="BoatOwnerReciepts" asp-route-id="@rec.BoatOwnerRecieptID" class="btn btn-info mb-2">عرض الفاتوره</a>|
                                                                    <a asp-action="Details" asp-controller="Sarhas" asp-route-id="@rec.SarhaID" class="btn btn-info mb-2">السرحه</a>|
                                                                    <a href="#" data-toggle="modal" data-target="#fadeleftModal" onclick="CalculateShow(@rec.BoatOwnerRecieptID)" class="btn btn-info mb-2">محاسبة</a>|

                                                                </td>

                                                            </tr>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>

                                                                لا توجد فواتير لهذا المركب
                                                            </td>
                                                            <td></td>


                                                        </tr>
                                                    }


                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    <form id="about" class="section about">
                        <div class="info">
                            <h5 class="">فواتير تم المحاسبة عليها</h5>

                            <div class="row layout-top-spacing" id="cancel-row">

                                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                    <div class="widget-content widget-content-area br-6">
                                        <div class="table-responsive mb-4 mt-4">
                                            <table id="zero-config3" class="table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>اجمالى الفاتوره</th>
                                                        <th>العموله</th>
                                                        <th>التاريخ</th>
                                                        <th>المدفوع من الهالك</th>
                                                        <th>الاجمالى بعد العموله والهالك</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.BoatRecs.Any())
                                                    {
                                                        foreach (var rec in Model.BoatRecs)
                                                        {
                                                            <tr>
                                                                <td>@rec.TotalBeforePaying</td>
                                                                <td>@rec.Commission</td>
                                                                <td>@rec.Date</td>
                                                                <td>@rec.PaidFromDebts</td>
                                                                <td>@rec.TotalAfterPaying</td>
                                                                <td>
                                                                    <a asp-action="Details" asp-controller="BoatOwnerReciepts" asp-route-id="@rec.BoatOwnerRecieptID" class="btn btn-info mb-2">تفاصيل الفاتوره</a>|
                                                                    <a asp-action="Details" asp-controller="Sarhas" asp-route-id="@rec.SarhaID" class="btn btn-info mb-2">تفاصيل السرحه</a>|

                                                                </td>

                                                            </tr>
                                                        }

                                                    }



                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    <form id="about" class="section about">
                        <div class="info">
                            <h5 class="">فواتير خارجيه</h5>

                            <div class="row layout-top-spacing" id="cancel-row">

                                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                    <div class="widget-content widget-content-area br-6">
                                        <div class="table-responsive mb-4 mt-4">
                                            <table id="zero-config2" class="table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>اجمالى الفاتوره</th>
                                                        <th>العموله</th>
                                                        <th>التاريخ</th>
                                                        <th>المدفوع من الهالك</th>
                                                        <th>الاجمالى بعد العموله والهالك</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ExternalRecs.Any())
                                                    {
                                                        foreach (var rec in Model.ExternalRecs)
                                                        {
                                                            <tr>
                                                                <td>@rec.TotalBeforePaying</td>
                                                                <td>@rec.Commission</td>
                                                                <td>@rec.Date</td>
                                                                <td>@rec.PaidFromDebts</td>
                                                                <td>@rec.TotalAfterPaying</td>
                                                                <td>
                                                                    <a asp-action="Details" asp-controller="ExternalReceipts" asp-route-id="@rec.ExternalReceiptID" class="btn btn-info mb-2">تفاصيل الفاتوره</a>|
                                                                    <a asp-action="Details" asp-controller="Sarhas" asp-route-id="@rec.SarhaID" class="btn btn-info mb-2">تفاصيل السرحه</a>|

                                                                </td>

                                                            </tr>
                                                        }

                                                    }



                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    <form id="work-platforms" class="section work-platforms">
                        <div class="info">
                            <h5 class="">مصروفات المركب</h5>


                            <div class="row layout-top-spacing" id="cancel-row">
                                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                    <div class="widget-content widget-content-area br-6">
                                        <div class="table-responsive mb-4 mt-4">
                                            <table id="zero-config" class="table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>التاريخ</th>
                                                        <th>المبلغ</th>
                                                        <th>السبب</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.BoatExpenses.Any())
                                                    {
                                                        foreach (var expense in Model.BoatExpenses)
                                                        {
                                                            <tr>
                                                                <td>@expense.Date</td>
                                                                <td>@expense.Price</td>
                                                                <td>@expense.Cause</td>
                                                                <td>
                                                                    <a asp-action="Edit" asp-controller="Expenses" class="btn btn-info mb-2" asp-route-id="@expense.ExpenseID">تعديل</a>

                                                                    <a class="btn btn-danger mb-2 delete"
                                                                       data-id="@expense.ExpenseID"
                                                                       data-controller="Expenses"
                                                                       data-action="Delete"
                                                                       data-body-message="هل انت متأكد من عملية الحذف ؟">حذف</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>











            </div>
        </div>
    </div>


</div>

<div id="fadeleftModal" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">محاسبة المركب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">


            </div>

        </div>
    </div>
</div>
<div id="MfadeleftModal5" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> مصروف مركب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form id="MyForm">

                    <div class="form-group">
                        <label class="control-label">السبب</label>
                        <input class="form-control" type="text" name="Cause" id="Cause" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">المبلغ</label>
                        <input class="form-control" name="ExpensePrice" id="ExpensePrice" />
                        <span class="text-danger"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary" id="MNewRows5">حفظ</button>
            </div>
        </div>
    </div>
</div>
<div id="zoomupModal" class="modal animated zoomInUp custo-zoomInUp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">صورة المركب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.BoatInfo.BoatImage!=null)
                {
                    <img src="~/img/@Model.BoatInfo.BoatImage" class="img-thumbnail" />
                }
                else
                {
                    <p class="modal-text">لا توجد صورة لهذا المركب</p>
                }
            </div>
            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
            </div>
        </div>
    </div>
</div>

<!--  END CONTENT AREA  -->

@section scripts{
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script src="~/plugins/dropify/dropify.min.js"></script>
    <script src="~/plugins/blockui/jquery.blockUI.min.js"></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> SubExpense-->
    <script src="~/assets/js/users/account-settings.js"></script>

    <script>
        $(document).ready(function () {

            //$("chkLeaderDebts").on('change', function () {

            //})

            @* <input type="checkbox" id="chkMagdy" />  الحاج مجدى *@
              //if ($("#chkMagdy").is(":checked")) {
                //    MerchantName = "الحج مجدى"
                //} else {
            $("#MNewRows5").on('click', function () {
                var cause = $('#Cause').val()
                var expensePrice = parseFloat($('#ExpensePrice').val())
                var id = @Model.BoatInfo.BoatID
                $.ajax({
                    url: "/Boats/GiveExpense/",
                    type: "Post",
                    dataType: "json",
                    traditional: true,
                    data: {
                        cause: cause,
                        expensePrice: expensePrice,
                        boatID: id
                    }, //id of the state which is used to extract cities
                    success: function (result) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'تم الاضافة بنجاح',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        $('#Expensese').text(result.expensese+" $")

                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حاول مرة اخري',
                        });
                    }
                });
            })


            @*$("#SubExpense").on('click', function () {
                var PaidValue = parseFloat($('#SubExpenseValue').val());
                var id = @Model.BoatInfo.BoatID
                $.ajax({
                    url: "/Boats/CalcExpenses/",
                    type: "Post",
                    dataType: "json",
                    traditional: true,
                    data: {
                        PaidValue: PaidValue,
                        BoatID: id
                    }, //id of the state which is used to extract cities
                    success: function (result) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'تم الخصم بنجاح',
                            showConfirmButton: false,
                            timer: 3000
                        });
                        $('#SubExpenseValue').val('')
                        $('#Expensese').text(result.expenses+" $")


                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حاول مرة اخري',
                        });
                    }
                });
            })*@


        })

        var EditShow = function (id) {
            $.ajax({
                url: "/Merchants/Edit",
                type: "GET",
                data: { id: id },
                success: function (response) {
                    $("#fadeleftModal").modal("show");
                    $("#ModalBodyDiv").html(response);

                }

            })
        }

        var fun = function () {

            var myform = $("#MyForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Merchants/cEdit",
                type: "POST",
                data: myform,

                success: function (response) {
                    if (response.message == "success") {
                        $("#fadeleftModal").modal("hide");
                        location.reload();
                    }
                    else {
                        alert("Error")
                    }

                }


            });
        }

        var CalculateShow = function (id) {
            $.ajax({
                url: "/Boats/CalculateShow",
                type: "GET",
                data: { id: id },
                success: function (response) {
                    $("#fadeleftModal").modal("show");
                    $("#ModalBody").html(response);

                }

            })
        }



    </script>
}