@model IEnumerable<FishBusiness.Models.ISellerReciept>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">

}
<div class="layout-px-spacing">
    <div class="container row">
        <div class="page-header m-3">
            <div class="page-title">
                <h3>سجل فواتير سافرت </h3>
            </div>
        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="Create" class="btn btn-primary">اضافة فاتورة جديدة</a>
        </div>
    </div>

    <div class="row layout-top-spacing" id="cancel-row">

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="zero-config" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>رقم الفاتوره</th>
                                <th>@Html.DisplayNameFor(i => i.Date)</th>
                                <th>@Html.DisplayNameFor(i => i.Merchant.MerchantName)</th>
                           

                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ISellerRecieptID</td>
                                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Merchant.MerchantName</td>
                                        @*<td>@item.Merchant.PreviousDebts</td>
                                            <td>@item.payment</td>*@
                                        <td>

                                            <a asp-action="Details" asp-route-id="@item.ISellerRecieptID" class="btn btn-info mb-2">تفاصيل</a>
                                            <a class="btn btn-danger mb-2 delete"
                                               data-id="@item.ISellerRecieptID"
                                               data-controller="ISellerReciepts"
                                               data-action="Delete"
                                               data-body-message="هل انت متأكد من عملية الحذف ؟">حذف</a>
                                        </td>

                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>

                                    <td class="font-weight-bolder">لا توجد فواتير</td>

                                    @*<td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle table-cancel"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></td>*@
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

</div>


